.dashboard{
    width: 100vw;
}

.dashboard-title{
    font-weight: 500;
}
.dashboard-count{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.confirmedCases, .activeCases, .recoveredCases, .deceasedCases, .totalTest{
    text-align: center;
    margin: 0.5rem;
    flex: 1 1 150px;
    padding: 1rem;
}

.confirmedCases{
    border-left: 5px solid #DC3545;
    i{
        color: #DC3545;
    }
}

.activeCases{
    border-left: 5px solid #007BFF;

    i{
        color: #007BFF;
    }
}

.recoveredCases{
    border-left: 5px solid #28a745;

    i{
        color: #28a745;
    }

}

.deceasedCases{
    border-left: 5px solid #6c757d;

    i{
        color: #6c757d;
    }

}

.totalTest{
    border-left: 5px solid rgb(255, 174, 0);
    i{
        color:rgb(255, 174, 0);
    }
}

  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .6s;
    transform: scale(1.02);
  }

  .last-update{
      background-color: #28a74520;
      color: #28a745;
      padding: 0.2rem;
      border-radius: .5rem;
      margin-bottom: 1rem;
      width: 45vw;
      font-weight: 500;
  }

  /**********************Mobile Styling**********************/
@media screen and (max-width:600px) {
    .last-update{
        width: 90vw;
    }
}