<div class="dashboard container mt-2">
    <h4 class="dashboard-title mb-2">COVID-19 Outbreak in Navi Mumbai</h4>
    <p class="last-update mb-2">Data last updated on {{dashBoardData.creationdate | date:'dd MMMM yyyy, h:mm a'}}</p>

    <div class="dashboard-count">
        <div class="confirmedCases card">
            <p class="fw-bold mb-3">CONFIRMED</p>
            <p class="fw-bold fs-5">{{dashBoardData.totalpositive.toLocaleString()}}</p>
            <p style="font-weight: 500;"><i class="bi bi-arrow-up"></i>{{dashBoardData.positive.toLocaleString()}}</p>
        </div>
        <div class="activeCases card">
            <p class="fw-bold mb-3">ACTIVE</p>
            <p class="fw-bold fs-5">{{dashBoardData.totalactive.toLocaleString()}}</p>
            <p style="font-weight: 500;"><i [ngClass]="{'bi bi-arrow-up': dashBoardData.active > 0,
                              'bi bi-arrow-down': dashBoardData.active < 0}"></i>{{dashBoardData.active.toLocaleString().replace('-', '')}}</p>
        </div>
        <div class="recoveredCases card">
            <p class="fw-bold mb-3">RECOVERED</p>
            <p class="fw-bold fs-5">{{dashBoardData.totalrecovered.toLocaleString()}}</p>
            <p style="font-weight: 500;"><i class="bi bi-arrow-up"></i>{{dashBoardData.recovered.toLocaleString()}}</p>
        </div>
        <div class="deceasedCases card">
            <p class="fw-bold mb-3">DECEASED</p>
            <p class="fw-bold fs-5">{{dashBoardData.totaldeceased.toLocaleString()}}</p>
            <p style="font-weight: 500;"><i class="bi bi-arrow-up"></i>{{dashBoardData.deceased.toLocaleString()}}</p>
        </div>
        <div class="totalTest card">
            <p class="fw-bold mb-3">TOTAL TESTED</p>
            <p class="fw-bold fs-5">{{dashBoardData.totaltested.toLocaleString()}}</p>
            <p style="font-weight: 500;"><i [ngClass]="{'bi bi-arrow-up': dashBoardData.totaltested > 0,
                'bi bi-arrow-down': dashBoardData.totaltested < 0}"></i>{{dashBoardData.tested.toLocaleString()}}</p>
        </div>
    </div>

</div>