.cityReport{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.chart .table{
    flex: 1 1 300px;
}

@media screen and (min-width:1000px) {
    .table{
        width: 50%;
    }    
}


thead{
    border-bottom: 2px solid black;
}

.last-update{
    background-color: #28a74520;
    color: #28a745;
    padding: 0.2rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    width: 45vw;
    font-weight: 500;
}

label{
    cursor: pointer;
}


/**********************Mobile Styling**********************/
@media screen and (max-width:600px) {
    .last-update{
        width: 90vw;
    }

    .chart canvas{
        height: 350px;
        width: 350px;
    }
}